# Generic
ipykernel==6.29.4
ipywidgets
jupyter 
pandas
numpy <2.0.0 # Meteostat throws a NaN error for newer versions
pydantic==2.7.0
Requests==2.31.0
matplotlib==3.8.4
plotly==5.20.0
nbformat>=4.2.0
python-dotenv
streamlit
streamlit-folium
streamlit-keplergl==0.3.0
pyproj==3.6.1
pillow
lxml==5.2.1
mypy
googletrans==3.1.0-alpha

# Weather
meteostat==1.6.7

# GIS
osmnx # might need an older version because landsatxplore needs shapely < 2.0
folium
earthpy==0.9.4
geopandas==0.14.3
rioxarray==0.15.3
xarray==2024.3.0
netCDF4==1.6.2
netifaces==0.11.0
Werkzeug==2.2.2
earthengine-api
landsatxplore==0.15.0
pylandtemp
geojson==3.1.0
OWSLib==0.30.0
shapely
keplergl